@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.heading{
    font-family: 'Jacques Francois', serif;
    font-size: 250%;
    width: auto;
    border: 1px solid black;
    text-align: center;
    background-color: palegreen;
}

p{
    font-family: 'Jacques Francois', serif;
    font-weight: bold;
    font-size: larger;
}

pre{

    font-family: 'Jacques Francois', serif;

}

.container{
    display: flex;
    justify-content: center;
}

#clock {
    font-size: 36px;
    text-align: center;
}

.card{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 20px;
}